body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-book {
    color: #000000;
    background-color: #3ba53f;
    border-color: #3ba53f;
    width: 144px;
}

.btn-cancel {
    color: #000000;
    background-color: #cc3737;
    border-color: #cc3737;
    width: 144px;
}

.btn-disabled {
    color: #000000;
    background-color: #888888;
    border-color: #888888;
    width: 144px;
}