body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-bar-item{
    color: #999999;
    text-decoration: none;
    padding: 15px;
    line-height: 20px;
    position: relative;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
}


.btn-book,
.btn-book:focus {
    color: #000000;
    background-color: #3ba53f;
    border: none;
    outline: none;
    width: 144px;
}

.btn-cancel,
.btn-cancel:focus {
    color: #000000;
    background-color: #cc3737;
    border: none;
    outline: none;
    width: 144px;
}

.btn-disabled,
.btn-disabled:focus {
    color: #000000;
    background-color: #888888;
    border: none;
    outline: none;
    width: 144px;
}

button[type="button"]::-moz-focus-inner {
    border: 0;
}

.modal {
    outline: none;
    overflow:hidden;
}
