@model IEnumerable<ProjectBear.CMS.ViewModels.RosterTemplateManagementViewModel>

<h2>Roster Templates</h2>
<hr />
@using (Html.BeginForm("Add", "RosterTemplateManagement", FormMethod.Get, new { style = "display:inline;" }))
{
    <input type="submit" id="Add" value="Create New Template" style="margin-bottom:20px" />
}

<div>
    <div>
        <table class="table bordered">
            <tr>
                <th>Template Name</th>
                <th>Time Slots</th>
            </tr>
            @foreach (var template in Model)
            {
                <tr>
                    <td width="40%">@template.TemplateName</td>
                    <td width="10%">@template.TimeSlotCount</td>
                    <td width="5%">@Html.ActionLink("Edit", "Edit", "RosterTemplateManagement", new { id = template.RosterTemplateId }, null)</td>
                    <td width="100%">@Html.ActionLink("Delete", "Delete", "RosterTemplateManagement", new { id = template.RosterTemplateId }, null)</td>
                </tr>
            }
        </table>
    </div>
</div>

<div id="deleteConfirmation" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden=true>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close modalClose" data-dismiss="modal"><img src="~/html/img/modal-close.svg" alt="" /></button>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
                    <h2 class="text-center ">Delete Template?</h2>
                    <div class="row">
                        <div class="col-xs-12 marginbottom30">
                            <p class="text-center">Are you sure you wish to delete this template?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <button id="buttonNo" type="button" data-dismiss="modal" class="btn btn-default margintopMobile20 width144 float-left text-left">No</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <button id="buttonYes" type="button" data-dismiss="modal" class="btn  btn-primary margintopMobile20 float-right  width144">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>